//Primary Colors
//primary text color
$BrainFlix-Black: #323232;
//Silver
$Silver: #AFAFAF;
//Brainflix-Blue: Active form field outline
$BrainFlix-Blue: #0095FF
//background color
$Background-color--white #FFFFFF;
//Video Player Components
$BrainFlix-DarkBlack: #000000;
//CTA hover state color
$BrainFlix-DarkBlue: #0065AD;
//Divider line. form field outline
$Divider-line--color: #E1E1E1;
//Form field background color
$Form-background--color: #FAFAFA;
//alternative light background color



//Desktop and Tablet padding
$Desktop-padding--before: 36px;
$Desktop-padding--after:24px;
$Desktop-padding--between: 24px;

//Mobile padding
$Mobile-padding--before: 24px;
$Mobile-padding--after: 16px;
$Mobile-padding--between: 16px;