//Primary Colors
//primary text color
$BrainFlix-Black: #323232;
//Silver
$Silver: #afafaf;
//Brainflix-Blue: Active form field outline
$BrainFlix-Blue: #0095ff; //background color
//Video Player Components
$BrainFlix-DarkBlack: #000000;
//CTA hover state color
$BrainFlix-DarkBlue: #0065ad;
//Divider line. form field outline
$Divider-line--color: #e1e1e1;
//Form field background color
$Form-background--color: #fafafa;
//alternative light background color

//Desktop and Tablet padding
$Desktop-padding--before: 36px;
$Desktop-padding--after: 24px;
$Desktop-padding--between: 24px;

//Mobile padding
$Mobile-padding--before: 24px;
$Mobile-padding--after: 16px;
$Mobile-padding--between: 16px;

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
