@import "../../styles/mix-ins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.BrainFlix__header {
  padding: 5% 0 3% 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 100%;
    flex-direction: row;
    padding: 5% 0 3% 1rem;
    justify-content: space-between;
  }
  @include desktop {
    width: 100%;
    flex-direction: row;
    padding: 5% 0 3% 1rem;
    justify-content: space-between;
  }
  &--container {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.header__logo {
  margin-left: 30%;
  max-width: 7.5rem;
  max-height: 1.5625rem;
  width: 7.5rem;
  height: 1.5625rem;
  margin-bottom: 0.5rem;
  @include tablet {
    margin: 5px 0 0 0;
    width: 7.5rem;
    height: 1.5625rem;
  }
  @include desktop {
    margin: 1rem 0 0 30%;
    width: 7.5rem;
    height: 1.5625rem;
  }
}

.header__subcontainer {
  display: flex;
  @include tablet {
    display: flex;
    padding: 0 0 0 30px;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 30%;
  }
}

.header__searchbar {
  width: 65vw;
  padding: 3% 0 3% 10%;
  margin-left: 5%;
  border-radius: 0.3125rem;
  background-color: #fafafa;
  background-image: url(../../assets/images/search.svg);
  background-repeat: no-repeat;
  background-position: 5% 40%;
  border-color: silver;
  @include tablet {
    width: 35vw;
    height: 2.5rem;
    padding: 1% 0 1% 10%;
    margin-left: 0;
  }
  @include desktop {
    width: 25vw;
    height: 3.125rem;
    padding: 1% 0 1% 10%;
    margin-left: 0;
  }
}

.header__profile {
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
  background-image: url(../../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  margin-right: 1rem;
  @include tablet {
    height: 8vw;
    width: 8vw;
    margin-top: -0.3125rem;
  }
  @include desktop {
    height: 5vw;
    width: 6vw;
  }
}

.header__upload--section {
  padding: 5% 0 5% 5%;
  @include tablet {
    width: 30vw;
    padding: 0 0 0 5%;
  }
  @include desktop {
    width: 20vw;
    padding: 0 5% 0 5%;
  }
}

.header__upload--icon {
  display: flex;
  padding-left: 5%;
  @include tablet {
    padding: 6%;
  }
  @include desktop {
    padding: 6%;
  }
}

.header__upload--button-small-resolution {
  font-weight: 700;
  line-height: 20px;
  font-size: 0.625rem;
  letter-spacing: 1px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #0095ff;
  border-radius: 0.3125rem;
  padding: 3% 35% 3% 0;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.header__upload--button-large-resolution {
  display: none;
  @include tablet {
    font-weight: 700;
    line-height: 20px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #0095ff;
    border-radius: 0.3125rem;
    padding: 0 35% 0 0;
  }
  @include desktop {
    font-weight: 700;
    line-height: 20px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #0095ff;
    border-radius: 0.3125rem;
    padding: 3% 35% 3% 0;
  }
}

.upload__link {
  all: unset;
  cursor: pointer;
}
