@import "../../styles/mix-ins";

* {
  padding: 0;
  margin: 0;
}

.video__list {
  padding: 0 0 10px 16px;
  &--container {
    position: relative;
    @include tablet {
      padding: 16px 0 30px 16px;
    }
    @include desktop {
      position: relative;
      left: 500px;
    }
  }
  &--image {
    border-radius: 4px;
    max-width: 40vw;
    max-height: 25vw;
    width: 40vw;
    height: 25vw;
    position: absolute;
    top: 10px;
    padding-bottom: 16px;
    @include tablet {
      width: 20vw;
      height: 13vw;
    }
    @include desktop {
      width: 12vw;
      height: 8vw;
      left: 500px;
      top: -700px;
    }
  }
  &--image-container {
    padding-bottom: 20px;
    @include tablet {
      padding-bottom: 20px;
    }
    @include desktop {
      padding-bottom: 80px;
    }
  }
  &--data-container {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    padding-bottom: 24px;
    @include tablet {
      margin-left: 25%;
      width: 22%;
    }
    @include desktop {
      width: 10%;
      position: absolute;
      left: 100px;
      bottom: 620px;
      padding-bottom: 40px;
    }
  }
  &--title {
    padding-bottom: 16px;
    font-size: 14px;
    @include desktop {
      padding-bottom: 0;
    }
  }
  &--channel {
    @include desktop {
      padding-bottom: 40px;
    }
  }
}
