@import "../../styles/mix-ins";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main__video {
  background-color: black;
  //   ask about the below because it gives an error
  //   &--actual {
  // background-image: url(/src/assets/images/play.svg);
  //   }
  @include tablet {
    padding: 0 3rem;
    width: 100%;
  }
  @include desktop {
    padding: 0 13rem;
    width: 100%;
  }
  &--container {
    aspect-ratio: 16/9;
    @include tablet {
      aspect-ratio: 16/9;
      position: relative;
    }
    @include desktop {
      aspect-ratio: 16/9;
      position: relative;
    }
  }
  &--actual {
    width: 100vw;
    @include tablet {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    @include desktop {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
